/*Estilos globais*/
html
{
    box-sizing: border-box;
}
*, *::after, *::before
{
    box-sizing: inherit;
}
body
{
    font-family: 'Sans Serif';
    position: relative;
    top: 0;
}
main
{
    background: rgba(211, 211, 211, .4);
    border-top: 1px solid transparent;
    min-height: 100vh;
}
.container
{
    max-width: 1000px;
    margin: 0 auto;
}
.hide__body::before
{
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    z-index: 1;
}
@font-face
{
    font-family: 'blowbrush';
    src: url(../fonts/blowbrush/blowbrush.otf);
}
@font-face
{
    font-family: 'Slope';
    src: url(../fonts/Slope/Slopes.ttf);
}@font-face
{
    font-family: 'Junction Regular';
    src: url(../fonts/junction-master/Junction-regular.otf)
}
/*Fim dos estilos globais*/
/*Estilo do cabeçalho da página principal*/
.cabecalho
{
    padding: 1.475em 0;
    box-shadow: 0 0 2.5px rgba(0, 0, 0, .5);
}
.cabecalho .container
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.cabecalho__titulo
{
    font-size: 1.575em;
    font-family: 'blowbrush';
    text-decoration: underline;
}
.cabecalho__menu ul li
{
    display: inline-block;
}
.cabecalho__menu ul li:first-child
{
    margin: 0;
}
.cabecalho__menu__botao
{
    padding: .575em 0 .175em 0;
    font-family: 'Slope';
    font-size: 1.275em;
    text-transform: uppercase;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(74.9%, 69%, 65.5%, .5);
    margin-left: 2.575em;
    color: rgb(74.9%, 69%, 65.5%);
    transition: all .8s ease;
}
.cabecalho__menu__botao:hover
{
    color: black;
    border-bottom: 1px solid rgba(0, 0, 0, .5);
    cursor: pointer;
}
/*Fim do estilo do cabeçalho da página*/
/*Estilo da seção onde será listado todos os livros presentes no DB*/
.listagem
{
    margin-top: 4em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.listagem__titulo
{
    font-size: 1.5em;
    font-family: 'Junction Regular';
    text-transform: capitalize;
    text-align: center;
}
.listagem__informacoes
{
    display: flex;
    justify-content: space-around;
    margin-top: 2em;
    margin-bottom: .875em;
}
.listagem__informacoes__titulos
{
    font-family: 'Junction Regular';
    color: gray;
    display: inline-block;
    margin-right: 1.375em;
    width: 8em;
}
.listagem__informacoes--itens
{
    text-transform: capitalize;
    display: inline-block;
    width: max-content;
    border: none;
    box-shadow: 0 0 2.5px rgba(0, 0, 0, .5);
    border-radius: 5px;
    padding: .875em .175em .875em .375em;
    background: rgba(255, 255, 255, 1);
    margin-top: 0;
}
.listagem__informacoes__descricoes:nth-child(6)
{
    width: 8.25em;
}
.listagem__informacoes__descricoes
{
    display: inline-block;
    width: 9.75em;
    height: 1em;
    vertical-align: middle;
    overflow: hidden;
    color: rgba(0, 0, 0, .8)
}
.listagem__informacoes__descricoes--nome
{
    color: rgba(218, 165, 32, .8);
    font-weight: bold;
}
.listagem__botoes
{
    background: transparent;
    border: none;
    outline: none;
    color: red;
}
.listagem__botoes i[class="far fa-edit"]
{
    color: black;
}
.listagem__botoes:hover
{
    cursor: pointer;
}
/*Fim do estilo da seção de listagem*/

/*Estilo do modal de cadastro*/
.cadastro,
.modal__edicao
{
    position: absolute;
    top: 4em;
    width: 40%;
    left: 30%;
    background-color: white;
    box-shadow: 0 0 2.5px rgba(0, 0, 0, .5);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;   
    height: 0;
    z-index: 2;
    overflow: hidden;
    transition: all .8s ease;
}
.cadastro--show,
.modal__edicao--show
{
    height: 475px;
    overflow: visible;
}
.modal__edicao--show
{
    height: max-content;
}
.cadastro__header,
.modal__edicao__header
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 1.375em;
    border-bottom: 1px solid rgba(0, 0, 0, .5);
    padding: .875em;
}
.cadastro__header__titulo,
.modal__edicao__header__titulo
{
    font-family: 'Junction Regular';
    font-size: 1.375em;
    display: inline-block;
}
.cadastro__header button,
.modal__edicao__header button
{
    background: transparent;
    outline: none;
    border: none;
}
.cadastro__header i[class^='fa'],
.modal__edicao__header i[class^='fa']
{
    color: red;
    font-size: 1.275em;
}
.cadastro__form,
.modal__edicao__form
{
    padding: .875em 1.375em 2em 1.375em;
    width: 100%;
}
.cadastro__form__inputs,
.modal__edicao__form__inputs
{
    width: 100%;
    height: 3.875em;
    border-radius: 1.93em;
    margin-bottom: 2em;
    padding: 1em;
    outline: none;
}
.cadastro__form__grupos,
.modal__edicao__form__grupos
{
    position: relative;
}
.cadastro__form__grupos__label,
.modal__edicao__form__grupos__label
{
    position: absolute;
    top: 30%;
    left: 1em;
    font-size: .775em;
    color: gray;
    font-family: "Junction Regular";
    transition: all .8s ease;
}
.modal__edicao__form__grupos__label
{
    top: -18px;
    font-size: 1em;
}
.modal__edicao__form__grupos__select
{
    font-weight: bold;
    font-family: "Junction Regular";
    font-size: .775em;
    color: black;
    height: 3em;
    width: 6em;
    margin-left: .375em;
    margin-bottom: 2em;
    border: 1px solid black;
    border-radius: 5px;
}
.cadastro__form__submit,
.modal__edicao__form__submit
{
    background: lightgray;
    width: 6em;
    font-size: 1em;
    font-weight: bold;
    padding: .575em;
    border: 1px solid black;
    border-radius: 10px;
}
/*Fim do estilo do formulário de cadastro*/

/*Estilo do pop-up de confirmação de inclusão ou exclusão de livro*/
.cadastro__exclusao__confirmacao__hide
{
    position: absolute;
    top: 13em;
    left: 30%;
    width: 0;
    height: 0;
    background: white;
    padding: .375em 0;
    border-radius: 10px;
    box-shadow: 0 0 2.5px rgba(0, 0, 0, .5);
    overflow: hidden;
    transition: all .5s ease-in-out;
}
.cadastro__exclusao__confirmacao--show
{
    width: 40%;
    height: 150px;
    overflow: visible;
    z-index: 2;
}
.cadastro__exclusao__confirmacao__titulo
{
    font-size: 1.875em;
    font-family: "Junction Regular";
    font-weight: bold;
    margin: 1.975em .575em;
}
.cadastro__exclusao__confirmacao__button
{
    position: absolute;
    right: .375em;
    background: transparent;
    outline: none;
    border: none;
    color: red;
    font-size: 1.375em;
}